/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Remove Default Margin and Padding */
* {
    margin: 0px;
}

/* Remove Default Margin and Padding of Body */
body {
    margin: 0px auto;
}

body h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(62, 66, 61, 0.1);
    backdrop-filter: blur(10px);
}

.developer {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(62, 66, 61, 0.1);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0, 0.5);
}

/* Navbar */
nav {
    position: sticky;
    width: 100%;
    height: 55px;
    top: 0px;
    background-color: rgba(62, 66, 61, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    color: white;
}

nav ul li img {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-top: 1.1px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#navbar-logo {
    width: 50px;
    height: 52px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

/* Styles for screens with a width of 576px or smaller */

/* Banner */

/* Footer */
footer {
    background-color: black;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: small;
}

footer h4 {
    color: white;
    margin-bottom: 15px;
}

.footer-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-store {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-services {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-assistance {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-care {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-account {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-2 img {
    width: 30px;
    height: 30px;
}

.footer-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#footer-button-title {
    grid-column: span 4;
    text-align: center;
}

.footer-button img {
    width: 35px;
    height: 35px;
}

.footer-3 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: smaller;
    opacity: 50%;
}

/* Cards */
.card-container {
    place-items: center;
    position: relative;
    z-index: -1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards {
    width: 70%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card img {
    width: 250px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card {
    width: 280px;
    height: 400px;
    background-color: rgba(62, 66, 61, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}